discovery.zen.ping.multicast.enabled: false
path:
  data: DATA_DIRECTORY/data
  logs: DATA_DIRECTORY/log
  plugins: /elasticsearch/plugins
  work: DATA_DIRECTORY/work
  scripts: DATA_DIRECTORY/scripts  # Only relevant on ES 2.2
http.cors.enabled: true
http.cors.allow-origin: "/.*/"
